h1, h2, h3 {
  text-shadow: 2px 2px 4px $shadow-color-inv;
}

a {
  display: inline-block;

  padding: 5px;
  margin: 1px 0;

  background: rgba(0, 0, 0, 0.05);

  &, &:visited {
    color: $text-color-a;
  }

  &:hover, &:focus {
    color: $text-color-a-hover;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  &.inv {
    background: rgba(255, 255, 255, 0.05);

    &:hover, &:focus {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
