$shadow-color:      rgba(0, 0, 0, 0.75);
$shadow-color-inv:  rgba(255, 255, 255, 0.5);

//---

$bg-color-inv-1:  rgb(45, 45, 45);
$bg-color-inv-2:  rgb(120, 120, 120);
$text-color-inv:  rgb(200, 200, 200);

$bg-color-1:      rgb(200, 200, 200);
$text-color-1:    rgb(45, 45, 45);

$text-color-a:        rgb(220, 0, 0);
$text-color-a-hover:  rgb(240, 0, 0);