@import '../shared/base';

:host {
  @include media-breakpoint-up(sm) {
    $s5x: map-get(map-get($spacers, 5), x);
    $s5y: map-get(map-get($spacers, 5), y);
    padding: 0 $s5x $s5y $s5x;

    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-down(xs) {
    $s3x: map-get(map-get($spacers, 3), x);
    $s3y: map-get(map-get($spacers, 3), y);

    padding: 0 $s3x $s3y $s3x;
  }

  background: $bg-color-inv-2;
}

.sidebar-link {
  &::before {
    content: '|>';
    margin-right: 5px;

    color: $text-color-inv;
  }
}
