<div class='d-flex flex-column'>
  <div class='sidebar-link'><a class='inv' [routerLink]="['posts']">blog</a></div>
  <div class='sidebar-link'><a class='inv' [routerLink]="null"><s>portfolio</s></a></div>
</div>

<div class='d-flex flex-column mt-auto'>
  <div class='sidebar-link'>
    <a class='inv' href='mailto:ooskar1233@yahoo.com'>email</a>
  </div>
  <div class='sidebar-link'>
    <a class='inv' target='_blank' href='https://stackoverflow.com/users/6787940/oskar-laska'>stackoverflow</a>
  </div>
  <div class='sidebar-link'>
    <a class='inv' target='_blank' href='https://github.com/oskar1233'>github</a>
  </div>
</div>