@import '../shared/base';

:host {
  $s5x: 3rem;//map-get(map-get($spacers, 5), x);
  $s5y: 3rem;//map-get(map-get($spacers, 5), y);
  $s2x: .5rem;//map-get(map-get($spacers, 2), x);
  $s2y: .5rem;//map-get(map-get($spacers, 2), y);

  @include media-breakpoint-up(sm) {
    padding: $s5y $s5x;
    transition: padding .3s;

    &.scrolled {
      padding: $s2y $s5x;
      transition: padding .3s;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: $s2y $s2x;
  }

  position: relative;

  background: $bg-color-inv-2;
  color: $text-color-inv;

  letter-spacing: 0.2rem;

  z-index: 9;
}

h1 {
  text-shadow: 2px 2px 2px $shadow-color;
}

a {
  background: transparent;

  &, &:hover, &:focus {
    color: $text-color-inv;
  }
}
